body {
    font-family: Arial, sans-serif;
    background-color: #272525;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container .title{
    font-size: 30px;
    letter-spacing: 1.2px;
    text-align: center;
    color: #808080;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 8px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

a {
    color: #007BFF;
    text-decoration: none;
}
.result{
    transform: scale(0.9);
}
#result{
    cursor: pointer;
    transition: 0.3s ease-in-out;
}